@font-face{
  font-family: 'GROBOLD', Arial, Helvetica, sans-serif;
  src: url('../assets/ui/fonts/GROBOLD.ttf');
}

.UI {
    height: calc(100% - 40px);
    width: 100%;
    position: relative;
    border: 4px solid #171D24;
    padding-top: 20px;
  }