$container-height: 55px;

.debug-container{
    position: absolute;
    height: $container-height + 25px;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    .content{
        position: absolute;
        background: #293039;
        border-right: 1px solid #FFFFFF;
        transition: bottom ease-in-out 0.5s;
        height: $container-height;
        width: 100%;
        bottom: -$container-height;
        &.show{
            bottom: 0px;
        }
    }
    
    .toggle-button{
        position: absolute;
        border: 0;
        bottom: 0;
        background: none;
        color: white;   
        transition: bottom ease-in-out 0.5s;    
    }

    .content.show + .toggle-button{
        bottom: $container-height;
    }
}